.todoItemContainer {
  background: #D1E0FF;
  margin-bottom: 15px;
  width: 100%;
  padding: 25px 20px;
  border-radius: 5px;
  box-shadow: 15px 10px 11px -8px #ABA5E5;
}
.todoItemTitle {
  font-size: 25px;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 15px;
}
.todoItemDescription {
  font-size: 15px;
  margin-bottom: 15px;
}
.todoItemButtonContainer {
  display: flex;
  justify-content: right;
  gap:5px;
}
